*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    font-family: 'Baskervville', serif;
    color: linen;
    background-color: rgb(32, 55, 78);
    margin:0;
    padding: 0;

  }


  h1 {
    font-family: 'Anton', sans-serif;
    color: Red;
    text-align: center;
    padding-top: 5%;
  }  

  .hero-subtitle{
    text-align: center;
  }
  nav {
    background-color: black;
    color: #fff;
    padding: 10px;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    
  }
  nav ul li a{
    color:red;
    margin: 10px;
  }